<h1>Open Source</h1>

<div id="top">
  <div id="user">
    <%= stats.username %>
    <%= stats.profile_url %>
    <%= stats.avatar_url %>
  </div>
  <div id="score">
    <%= stats.score %>
  </div>
  <div id="share">
    <%= stats.score %>
  </div>
</div>

<div id="content">
  <div id="orgs">
    <%= stats.orgs_user_belong %>
    TODO org projects
  </div>
  <div id="projects">
    <%= stats.repos.sort_by {|repo| repo.score}.reverse[0..9] %>
  </div>
  <div id="langs">
    <%= stats.languages.sort_by {|_key, value| value}.reverse[0..9] %>
  </div>
</div>

<div id="bottom">
  https://pedrorijo.com/
</div>


<div>
  <a href="https://docs.google.com/drawings/d/1CUT0vwBdlnMPQI-aTDkc42QYMwauYxPMPklL3HJdGVM/edit">mockup</a>
  <a href="https://medium.freecodecamp.org/add-bootstrap-to-your-ruby-on-rails-project-8d76d70d0e3b">https://medium.freecodecamp.org/add-bootstrap-to-your-ruby-on-rails-project-8d76d70d0e3b</a>
</div>