<div class="container">

  <div class="row justify-content-center">
    <h1>Open Source</h1>
  </div>

  <div class="row" id="top">
    <div class="col-md-4">
      <div class="row">
        <img src="<%= stats.avatar_url %>" width="250px">
      </div>
      <div class="row">
        <a href="<%= stats.profile_url %>"><%= stats.username %></a>
      </div>
    </div>
    <div class="col-md-4">
      <strong><%= stats.score %></strong> points
    </div>
    <div class="col-md-4">
      <div class="row">
        <img src="https://i.pinimg.com/originals/41/36/16/41361625cc44df07f81a620eac766468.png" width="200px">
      </div>
      <div class="row">
        share <!-- https://getbootstrap.com/docs/4.1/utilities/text/ -->
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row" id="main">
    <div class="col-md-7">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="org-one-tab" data-toggle="tab" href="#org-one" role="tab" aria-controls="org-one" aria-selected="false">Org one</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
          <% stats.repos.sort_by {|repo| repo.score}.reverse[0..9].each do |repo| %>
            <a href="<%= repo.url %>"><%= stats.username %>/<%= repo.name %></a> <%= repo.score %><br>
          <% end %>
        </div>
        <div class="tab-pane fade" id="org-one" role="tabpanel" aria-labelledby="org-one-tab">
          Soon :)
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <p>Top languages:</p>
      <% stats.languages.sort_by {|_key, value| value}.reverse[0..9].each do |lang| %>
        <%= lang[0] %><br />
      <% end %>
    </div>
  </div>

  <br>
  <br>

  <div class="row" id="bottom">
    <div class="col-md-8"><a href="https://pedrorijo.com/">pedrorijo.com</a></div>
    <div class="col-md-4">icons</div>
    </div>

</div>

<!--
<div id="content">
  <div id="orgs">
    <%#= stats.orgs_user_belong %>
    TODO org projects
  </div>
</div>
-->


<!--
<div>
  <a href="https://docs.google.com/drawings/d/1CUT0vwBdlnMPQI-aTDkc42QYMwauYxPMPklL3HJdGVM/edit">mockup</a>
</div>
-->