<div class="container">

  <div class="row justify-content-center">
    <h1>The Open Source Game</h1>
  </div>

  <div class="row" id="top">
    <div class="col-md-4">
      <div class="row">
        <figure>
          <a href="<%= stats.profile_url %>"><img class="img-thumbnail" src="<%= stats.avatar_url %>" width="200px"></a>
          <figcaption><a href="<%= stats.profile_url %>"><%= stats.name %> (@<%= stats.username %>)</a></figcaption>
        </figure>
      </div>
    </div>
    <div class="col-md-4"> <!-- TODO beautify -->
      <p><strong><%= stats.score %></strong> points</p>
      <p><%= level_label(stats.score) %></p>
    </div>
    <div class="col-md-4">
      <div class="row justify-content-center">
        <img src="https://i.pinimg.com/originals/41/36/16/41361625cc44df07f81a620eac766468.png" width="150px">
      </div>
      <div class="row justify-content-center">
        share <!-- TODO center text https://getbootstrap.com/docs/4.1/utilities/text/ -->
      </div>
    </div>
  </div>

  <br> <!-- TODO remove -->

  <div class="row">
    <div class="col-md-9">
      <%= render partial: 'top_repos', :locals => {:stats => stats} %>
    </div>
    <div class="col-md-3">
      <%= render partial: 'top_languages', :locals => {:stats => stats} %>
    </div>
  </div>

  <%= render 'footer' %>

</div>


<!--
TODO - see mobile

<div>
  <a href="https://docs.google.com/drawings/d/1CUT0vwBdlnMPQI-aTDkc42QYMwauYxPMPklL3HJdGVM/edit">mockup</a>
</div>

crop names
http://jsfiddle.net/chadkuehn/nu5zk/
http://jsfiddle.net/zWvMH/

table:
https://getbootstrap.com/docs/4.1/content/tables/

users:
miguelcarreiro
propensive
PCManticore
dnlserrano
dsyme
alexischr
4u7
-->