<div class="container">

  <div class="row justify-content-center">
    <h1 class="display-3 title">The Open Source Game</h1>
  </div>

  <div class="row" id="top">
    <div class="col-md-3">
      <div class="row">
        <figure>
          <a href="<%= stats.profile_url %>"><img class="img-thumbnail row-height" src="<%= stats.avatar_url %>"></a>
          <figcaption><a href="<%= stats.profile_url %>"><%= stats.name %> (@<%= stats.username %>)</a></figcaption>
        </figure>
      </div>
    </div>
    <div class="row col-md-6 justify-content-center">
      <h2 class="display-4"><%= stats.score %> points</h2>
      <h3 class="display-5"><%= level_label(stats.score) %></h3>
    </div>
    <div class="col-md-3">
      <div class="row justify-content-center">
        <img class="row-height" src="https://i.pinimg.com/originals/41/36/16/41361625cc44df07f81a620eac766468.png">
      </div>
      <div class="row justify-content-center">
        <a class="twitter-share-button"
           href=<%= "https://twitter.com/intent/tweet?text=" + ERB::Util.url_encode("I just got #{stats.score} points for my Open Source contributions! What about you?") %>
           <%= ENV['FOOTER_ENABLED'] == 'true' ?  'data-via=pedrorijo91' : '' %>
           data-hashtags="OpenSource,oss,foss"
           data-size="large">
          Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="row justify-content-center">
        <%= link_to("I want to check my profile!", :home) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= render partial: 'top_repos', :locals => {:stats => stats} %>
    </div>
    <div class="col-md-3">
      <%= render partial: 'top_languages', :locals => {:stats => stats} %>
    </div>
  </div>

  <% if ENV['FOOTER_ENABLED'] == 'true' %>
    <%= render 'footer' %>
  <% end %>

</div>