<div class="container">

  <div class="row justify-content-center">
    <h1 class="display-3">The Open Source Game</h1>
  </div>

  <div class="row" id="top">
    <div class="col-md-3">
      <div class="row">
        <figure>
          <a href="<%= stats.profile_url %>"><img class="img-thumbnail row-height" src="<%= stats.avatar_url %>"></a>
          <figcaption><a href="<%= stats.profile_url %>"><%= stats.name %> (@<%= stats.username %>)</a></figcaption>
        </figure>
      </div>
    </div>
    <div class="row col-md-6 justify-content-center">
      <h2 class="display-4"><%= stats.score %> points</h2>
      <h3 class="display-5"><%= level_label(stats.score) %></h3>
    </div>
    <div class="col-md-3">
      <div class="row justify-content-center">
        <img class="row-height" src="https://i.pinimg.com/originals/41/36/16/41361625cc44df07f81a620eac766468.png">
      </div>
      <div class="row justify-content-center">
        Share <!-- TODO link -->
      </div>
      <div class="row justify-content-center">
        <%= link_to("Check my profile!", :home) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= render partial: 'top_repos', :locals => {:stats => stats} %>
    </div>
    <div class="col-md-3">
      <%= render partial: 'top_languages', :locals => {:stats => stats} %>
    </div>
  </div>

  <% if ENV['FOOTER_ENABLED'] == 'true' %>
    <%= render 'footer' %>
  <% end %>

</div>


<!--
TODO https://github.com/pedrorijo91/ross-issues/issues/7

TODO https://github.com/pedrorijo91/ross-issues/issues/8
-->